## The third In-class-exercise (2/22/2022, 40 points in total)

The purpose of this exercise is to understand text representation.

Question 1 (10 points): Describe an interesting text classification or text mining task and explain what kind of features might be useful for you to build the machine learning model. List your features and explain why these features might be helpful. You need to list at least five different types of features.

In [ ]:
# Your answer here (no code for this question, write down your answer as detail as possible for the above questions):

'''
The features used for building an machine learning model are
Number of sentences, Number of words, Number of characters, Number of stopwords, Lower casing, Punctuation removal
This are the basic feautures which are used in building the model
these are only not enough but they play a major role in building like processing the data
I have taken some raw data for processing and explaining this function below




'''

Question 2 (20 points): Write python code to extract these features you discussed above. You can collect a few sample text data for the feature extraction.

In [27]:
# You code here (Please add comments in the code):
from six.moves import urllib
import pandas as pd

text_array = []
url = "https://raw.githubusercontent.com/nivemula/Nithin_INFO5731_Spring2022/main/nithin.txt"
text_file = urllib.request.urlopen(url)

for line in text_file:
  decoded_data = line.decode("utf-8").replace('\r\n', '')
  if decoded_data: text_array.append(decoded_data)
df = pd.DataFrame (text_array, columns = ['Raw Text'])
print(df)

                                            Raw Text
0  A data set (or dataset) is a collection of dat...
1  In the open data discipline, data set is the u...
2  Several characteristics define a data set's st...
3  The values may be numbers, such as real number...
4  In statistics, data sets usually come from act...

In [28]:
#NUMBER OF SENTENCES

df['Sentences'] = df['Raw Text'].apply(lambda x: len(str(x).split(".")))
df

                                            Raw Text  Sentences
0  A data set (or dataset) is a collection of dat...          5
1  In the open data discipline, data set is the u...          5
2  Several characteristics define a data set's st...          3
3  The values may be numbers, such as real number...          7
4  In statistics, data sets usually come from act...          5

In [29]:
#NUMBER OF WORDS

df['Words'] = df['Raw Text'].apply(lambda x: len(str(x).split(" ")))
df

                                            Raw Text  Sentences  Words
0  A data set (or dataset) is a collection of dat...          5     87
1  In the open data discipline, data set is the u...          5     53
2  Several characteristics define a data set's st...          3     33
3  The values may be numbers, such as real number...          7     79
4  In statistics, data sets usually come from act...          5     80

In [30]:
#NUMBER OF CHARACTERS

df['Characters'] = df['Raw Text'].str.len()
df

,Raw Text,Sentences,Words,Characters
0,A data set (or dataset) is a collection of dat...,5,87,464
1,"In the open data discipline, data set is the u...",5,53,337
2,Several characteristics define a data set's st...,3,33,234
3,"The values may be numbers, such as real number...",7,79,472
4,"In statistics, data sets usually come from act...",5,80,501

In [14]:
from nltk.corpus import stopwords

import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Nithin\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [31]:
#STOPWORDS
stop = stopwords.words('english')

df['Stopwords'] = df['Raw Text'].apply(lambda x: len([x for x in x.split() if x in stop]))
df

,Raw Text,Sentences,Words,Characters,Stopwords
0,A data set (or dataset) is a collection of dat...,5,87,464,38
1,"In the open data discipline, data set is the u...",5,53,337,15
2,Several characteristics define a data set's st...,3,33,234,12
3,"The values may be numbers, such as real number...",7,79,472,34
4,"In statistics, data sets usually come from act...",5,80,501,28

In [32]:
#LOWERCASE

df['Lower Case'] = df['Raw Text'].apply(lambda x: " ".join(x.lower() for x in x.split()))
df

,Raw Text,Sentences,Words,Characters,Stopwords,Lower Case
0,A data set (or dataset) is a collection of dat...,5,87,464,38,a data set (or dataset) is a collection of dat...
1,"In the open data discipline, data set is the u...",5,53,337,15,"in the open data discipline, data set is the u..."
2,Several characteristics define a data set's st...,3,33,234,12,several characteristics define a data set's st...
3,"The values may be numbers, such as real number...",7,79,472,34,"the values may be numbers, such as real number..."
4,"In statistics, data sets usually come from act...",5,80,501,28,"in statistics, data sets usually come from act..."

In [19]:
#REMOVAL OF PUNCTUATION
df['Removal of Punctuation'] = df['Lower Case'].str.replace('[^\w\s]','')
df

C:\Users\Nithin\AppData\Local\Temp/ipykernel_25384/146569413.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Removal of Punctuation'] = df['Lower Case'].str.replace('[^\w\s]','')

,Raw Text,Number of Sentences,Number of Words,Number of Characters,Number of Stopwords,Lower Case,Removal of Punctuation
0,A data set (or dataset) is a collection of dat...,5,87,464,38,a data set (or dataset) is a collection of dat...,a data set or dataset is a collection of data ...
1,"In the open data discipline, data set is the u...",5,53,337,15,"in the open data discipline, data set is the u...",in the open data discipline data set is the un...
2,Several characteristics define a data set's st...,3,33,234,12,several characteristics define a data set's st...,several characteristics define a data sets str...
3,"The values may be numbers, such as real number...",7,79,472,34,"the values may be numbers, such as real number...",the values may be numbers such as real numbers...
4,"In statistics, data sets usually come from act...",5,80,501,28,"in statistics, data sets usually come from act...",in statistics data sets usually come from actu...

Question 3 (10 points): Use any of the feature selection methods mentioned in this paper "Deng, X., Li, Y., Weng, J., & Zhang, J. (2019). Feature selection for text classification: A review. Multimedia Tools & Applications, 78(3)." Select the most important features you extracted above, rank the features based on their importance in the descending order.

In [1]:
# You code here (Please add comments in the code):
Rank of most important features here:
1. Word2Vec
2. TF-IDF
3. Bag of words
4. N-grams
5. Sentence length