<a href="https://colab.research.google.com/github/unt-iialab/INFO5731_Spring2020/blob/master/In_class_exercise/In_class_exercise_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise (01/25/2022, 40 points in total)**

(1) Write a Python program to calculate the length of a string. (4 points)

In [35]:
# write your answer here
stri="nithin"
c=0
for j in stri:
    c=c+1
    
print(c)

6

(2) Write a Python program to count the number of characters in a string. (4 points)

Sample String : 'google.com‘, 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [34]:
# write your answer here
def stor(st):
    dict = {}
    for l in st:
        keys = dict.keys()
        if l in keys:
            dict[l] += 1
        else:
            dict[l] = 1
    return dict
print(stor('onlinecoding.com'))

{'o': 3, 'n': 3, 'l': 1, 'i': 2, 'e': 1, 'c': 2, 'd': 1, 'g': 1, '.': 1, 'm': 1}

(3) Write a Python program to sum all the items in a list. (4 points)

In [33]:
# write your answer here
def list(t):
    num = 0
    for x in t:
        num += x
    return num
print(list([11,21,-23,41,32]))

82

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (4 points)

Sample String : 'restart‘, 

Expected Result : 'resta\$t'

In [32]:
# write your answer here
def char1(str1):
  char = str1[0]
  str1 = str1.replace(char, '$')
  str1 = char + str1[1:]

  return str1

print(char1('nithin'))

nithi$

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (4 points)

In [31]:
# write your answer here
a = 3
b= 6
s= 3.14*(1+a/b)**3 
print(s)

10.5975

(6) Write a Python program to concatenate following dictionaries to create a new one. (4 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [30]:
# write your answer here
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
result = {}
for d in (dic1, dic2, dic3): result.update(d)
print(result)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(7) Write a Python program to check whether an element exists within a tuple. (4 points)

In [29]:
# write your answer here
tuplex = ("a", 3, "a", "e", "s", "o", "u", "r", "c", "e")
print("a" in tuplex)

True

(8) Write a Python program to find maximum and the minimum value in a set. (4 points)

In [28]:
# write your answer here
list1 = {32, 42, 13, 75, 221, 2230}
print("big")
print(max(list1))
print("small")
print(min(list1))

big
2230
small
13

(9) Write a Python program to randomly divide the students in this class into six groups for term projects, each group should have at least 4 students but no more than 6 students (including 6). Here is the students list: (4 points)

studnet_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386',
           'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']

In [26]:
# write your answer here
import random
list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386', 'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']
for i in range(0,6):
    print(random.sample(list, k = 5))

['sa1198', 'kg0470', 'sk1390', 'nm0618', 'ak0934']
['sk1313', 'ja0964', 'sb1357', 'ak0956', 'sm1907']
['aos0040', 'sk1390', 'kg0470', 'fh0141', 'ak0934']
['bg0320', 'sm1907', 'hy0232', 'ak0934', 'dr0609']
['sm1907', 'av0659', 'aos0040', 'ms1500', 'fh0141']
['ds0814', 'sk1390', 'vb0218', 'ms1500', 'nm0618']

(10) Write a Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements. (4 points)

In [25]:
# write your answer here
def find_first_duplicate(nums):
    num_set = set()
    dup = -1

    for i in range(len(nums)):

        if nums[i] in num_set:
            return nums[i]
        else:
            num_set.add(nums[i])

    return dup

print(find_first_duplicate([11,21,31,54,45,21]))
print(find_first_duplicate([11,21,31,54,45]))

21
-1

(11) Write a Python program to select all the Sundays of a specified year. (4 extra points)

In [19]:
# write your answer here
from datetime import date, timedelta

def all_sundays(year):

       dt = date(year, 1, 1)
      
       dt += timedelta(days = 6 - dt.weekday())  
       while dt.year == year:
          yield dt
          dt += timedelta(days = 7)
          
for s in all_sundays(2022):
   print(s)

2022-01-02
2022-01-09
2022-01-16
2022-01-23
2022-01-30
2022-02-06
2022-02-13
2022-02-20
2022-02-27
2022-03-06
2022-03-13
2022-03-20
2022-03-27
2022-04-03
2022-04-10
2022-04-17
2022-04-24
2022-05-01
2022-05-08
2022-05-15
2022-05-22
2022-05-29
2022-06-05
2022-06-12
2022-06-19
2022-06-26
2022-07-03
2022-07-10
2022-07-17
2022-07-24
2022-07-31
2022-08-07
2022-08-14
2022-08-21
2022-08-28
2022-09-04
2022-09-11
2022-09-18
2022-09-25
2022-10-02
2022-10-09
2022-10-16
2022-10-23
2022-10-30
2022-11-06
2022-11-13
2022-11-20
2022-11-27
2022-12-04
2022-12-11
2022-12-18
2022-12-25

In [ ]:
2