<a href="https://colab.research.google.com/github/unt-iialab/INFO5731_Spring2020/blob/master/Assignments/INFO5731_Assignment_One.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **INFO5731 Assignment One**

# Question 1

(20 points). Write a Python program to generate 12 random numbers between 1 and 100. Sort the list of numbers in ascending order and print it out. Sort the list of numbers in descending order and print it out. Calculate the average for the group and print it out.

In [55]:
# Your code here
from random import randint
from statistics import mean

RaNu = [randint(1, 100) for i in range(12)]

print("Numbers Before Sorting - {0}".format(RaNu))

RaNu.sort()

print("Ascending - {0}".format(RaNu))

RaNu.sort(reverse=True)

print("Descending - {0}".format(RaNu))

print("Average {0}".format(mean(RaNu)))

Numbers Before Sorting - [17, 69, 94, 26, 17, 38, 45, 63, 1, 25, 88, 5]
Ascending - [1, 5, 17, 17, 25, 26, 38, 45, 63, 69, 88, 94]
Descending - [94, 88, 69, 63, 45, 38, 26, 25, 17, 17, 5, 1]
Average 40.666666666666664

# Question 2
(25 points). Write a program that will do the following string formatting tasks:

(1) Ask the user to enter two sentences.

(2) Make each sentence into a list. Each element in the list should correspond to a word in the sentence. For example, if the sentence is "Alas! Am I alive? This is my first python program", the program should print out ['Alas, '!', 'Am', 'I', 'alive, '?', 'This', 'is', 'my', 'first', 'python', 'program'].

(3) Compare the two sentences. Print out a list of words that occur in both sentences.

(4) Remove any punctuation from the sentence and print it back out. It should remove at least the following characters, but it can remove more: period(“.”), comma (“,”), semicolon (“;”), and colon (“:”)

(5) Count the number of vowels in the sentences. Print out each vowel and the number of times it appears in the sentences, such as: a:2, e:1, i:0, etc

In [57]:
import re
#ip1="Hi, How are you? "
#ip2="Wow! how did you do that"
print("2.1")
print("Please do enter two sentences")
ip1 = input("Enter first sentence")
ip2 = input("Enter second sentence")

print("2.2")
lt1=re.split('([^a-zA-Z])',ip1)
list1=' '.join(lt1).split()
print(list1)

lt2=re.split('([^a-zA-Z])',ip2)
list2=' '.join(lt2).split()
print(list2)

print("2.3 Common words")
# Common words list
print(list(set(list1)&set(list2)))
# list by removing punctuation
# ip1
print("2.4")
list3=re.split('[^a-zA-Z0-9@#$%&* ]+',ip1)
onlyStr1=''.join(list3)
print(onlyStr1)
# ip2
list4=re.split('[^a-zA-Z0-9@#$%&* ]+',ip2)
onlyStr2=''.join(list4)
print(onlyStr2)

print("2.5")
# counting vowels
v_counts = {}
for i in "aeiou":
    temp = ip1.count(i)
    v_counts[i] = temp

print(v_counts)

2.1
Please do enter two sentences
Enter first sentenceHi, how are you?
Enter second sentencehey! how did you do that?
2.2
['Hi', ',', 'how', 'are', 'you', '?']
['hey', '!', 'how', 'did', 'you', 'do', 'that', '?']
2.3 Common words
['you', '?', 'how']
2.4
Hi how are you
hey how did you do that
2.5
{'a': 1, 'e': 1, 'i': 1, 'o': 2, 'u': 1}

# Question 3 

(15 points). The formula that describes the volume V of a sphere with radius r is the following:

$ V=\frac{4}{3}\ast\ \pi\ast\ r^3 $

Write a program to calculate the value of V when r is in the range of 1–10. Output the result in the following format:

	r	V
	1	…
	2	…
	3	…

In [58]:
def volume(r):
  return (4/3) * 22/7 * (r ** 3)

print('radius     volume')

for r in range(1,10):
    
  print("{0}     {1}".format(r, volume(r)))

radius     volume
1     4.190476190476191
2     33.523809523809526
3     113.14285714285715
4     268.1904761904762
5     523.8095238095239
6     905.1428571428572
7     1437.3333333333335
8     2145.5238095238096
9     3054.857142857143

# Question 4

(40 points). In the field of Data Science, data is often formatted as a comma-delimited (CSV) file, where each line in a file corresponds to a field's value. Refer to Chapter 9 (p. 106) for more information on comma-delimited files. To answer this question, you will need to download the file [Assignment1_denton_housing.csv](https://raw.githubusercontent.com/unt-iialab/info5731-spring2022/main/assignments/Assignment1_denton_housing.csv) included with this assignment. The file [Assignment1_denton_housing.csv](https://raw.githubusercontent.com/unt-iialab/info5731-spring2022/main/assignments/Assignment1_denton_housing.csv) contains statistics about housing in the city of Denton from 2008 to 2014. Write a program to implement the following questions.

(1) (10 pts) Calculate the difference in the number of Occupied Housing Units from year to year and print it. The difference must be calculated for the consecutive years such as 2008-2009, 2009-2010 etc. Finally, print the values in the ascending order.

(2) (10 pts) For all the years, calculate the percentage of housing units which are vacant an occupied. Print the results in the following format:

Year Vacant Housing Units Occupied Housing Units

    2008  30%   70%                          
	2009 ----- -----
	2010 ----- -----
    2011 ----- -----
	2012 ----- -----
    2013 ----- -----
	2014 ----- -----
  
  

(3) (10 pts) Calculate and print the valued and years in which the highest number of housing units were vacant and occupied. Print the results in the following format:  

                              Year	Value
	Vacant Housing Units	  -----   -----
	Occupied Housing Units	-----   -----

(4) (10 pts) Calculate the harmonic mean of the total housing units and print it out. You can find the information about harmonic mean here: https://ncalculators.com/statistics/harmonic-mean-calculator.htm

In [59]:
import pandas as pd
data = pd.read_csv("https://raw.githubusercontent.com/unt-iialab/info5731-spring2022/main/assignments/Assignment1_denton_housing.csv")
#data
occupied_apart = data[data['title_field'] == 'Occupied Housing Units'].sort_values(by=['year'])
occupied_apart.value.diff().sort_values()

17    -795.0
11    -303.0
8     1404.0
5     1565.0
2     2622.0
14    5091.0
20       NaN
Name: value, dtype: float64

In [60]:
vacancy_list = data[data['title_field'] == 'Vacant Housing Units'].sort_values(by=['year'])['value'].values.tolist()

occupied_list = data[data['title_field'] == 'Occupied Housing Units'].sort_values(by=['year'])['value'].values.tolist()

list_total = data[data['title_field'] == 'Total Housing Units'].sort_values(by=['year'])['value'].values.tolist()

year = data[data['title_field'] == 'Total Housing Units'].sort_values(by=['year'])['year'].values.tolist()

Vacant = [str((vacant/total)*100)+' %' for vacant,total in zip(vacancy_list,list_total)]

occupied = [str((occupied/total)*100)+' %' for occupied, total in zip(occupied_list, list_total)]

final_r = pd.DataFrame(list(zip(year,Vacant, occupied)), columns =['Year','Empty rooms', 'Occupied rooms'])
final_r

   Year          Empty rooms       Occupied rooms
0  2008  10.88265281351653 %  89.11734718648347 %
1  2009   9.07111572444872 %  90.92888427555128 %
2  2010  8.142556337081672 %  91.85744366291833 %
3  2011  9.379522229890688 %   90.6204777701093 %
4  2012  6.677600230491346 %  93.32239976950866 %
5  2013  8.801787504176412 %  91.19821249582358 %
6  2014  5.730110570363885 %  94.26988942963611 %

In [70]:
vacancy = data[data['title_field'] == 'Vacant Housing Units']
maximum_d = pd.concat([occupied_apart[occupied_apart['value'] == occupied_apart['value'].max()],vacancy[vacancy['value'] == vacancy['value'].max()]])
print(maximum_d[['title_field','year','value']])

               title_field  year  value
2   Occupied Housing Units  2014  46295
19    Vacant Housing Units  2008   4483

In [68]:
from scipy import stats
print('Harmonic mean {0}'.format(stats.hmean(list_total)))

Harmonic mean 44398.28543969185